

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
                                          <p>&nbsp;</p>
                                                                    
                <h2 class="text-white mb-4">About Me</h2>
                <p class="text-white">
                    Senior Budget Analyst and Military Veteran with the ability to obtain a Secret Security Clearance
                    offering over 14 years of proven leadership experience in the United States Marine Corps and United States Army.  Accomplished top-rated results while leading teams
                    from four to 300 soldiers in a dynamic, fast-paced environment. Possess a comprehensive background in finance, logistics, risk management and critical thinking derived
                    from conducting domestic operations in four states and global operations in Germany, Iraq, Qatar,Kuwait and Kurdistan.  Managed risk upon
                    multiple lines to protect property and equipment valued over $300K and managed funds valued over $6M daily while meeting the expectations
                    of senior management with zero losses.  Possess extensive knowledge of Military Finance Systems, budget analysis and experience in public speaking.
                    Career is supported by extensive operational experience while in the Military and obtained a Bachelor of Science in Computer Science at the University of Mary Hardin Baylor.
                    <br /><!--<a href="https://www.google.com" target="_blank">Resume</a>.-->
                </p>
            </div>
        </div>
        <!--<img src="" class="img-fluid" alt="">-->
    </div>
</section>