@{
    ViewData["Title"] = "Contact";
}
<div style="margin-top:200px;">

</div>
<!-- Contact Section -->
<section class="contact-section ">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">Killeen, TX</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <a href="mailto:guidato.llc@gmail.com" >Gavin Anthony</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">+1 (347) 352-7152</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center" style="margin-bottom:200px;">
            <!--<a href="https://www.twitter.com/gavineanthony" target="_blank"class="mx-2">
                <i class="fab fa-twitter"></i>
            </a>-->
            <!--<a href="#" class="mx-2">
                <i class="fab fa-facebook-f"></i>
            </a>-->
            <a href="https://www.github.com/GavinAnthony76" target="_blank" class="mx-2">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</section>
<div class="container" style="">

</div>
