
@{
    ViewData["Title"] = "Projects";
}

<!-- Projects Section -->
<section id="projects" class="projects-section">
    <div class="container">
        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <a href="https://www.txshowdown.com" target="_blank">   <img class="img-fluid mb-3 mb-lg-0" src="~/img/jbo-logo.png" alt=""></a>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text mb-0" text-center text-lg-left">
                    <h4 class="text-white">Featured Project</h4>
                    <p class="text-white mb-0">
                        The largest Fighting Game tournament in Texas returns in 2019 to provide 3
                        intense days of fighting game competition with the latest and greatest games.
                        Being a crucial stop of the ARCRevo Tour and Capcom Pro Tour, the best players from all
                        over will gather in Houston which proves that Texas Showdown is the Premier Texas Tournament.
                    </p>
                </div>
            </div>
        </div>
        <!-- Project TWo Row -->
       <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
              <img class="img-fluid" src="https://play.google.com/store/apps/details?id=com.veewo.a1024" alt="past project">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Texas Showdown</h4>
                            <p class="mb-0 text-white-50">
                                

                            </p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Three Row -->
        @*<div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <img class="img-fluid" src="~/img/demo-image-02.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Mountains</h4>
                            <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</section>

